@model TapHoa.Data.Phieunhap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phieunhap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaynhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaynhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManvNavigation.Manv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mapn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
