@model IEnumerable<TapHoa.Data.Danhgium>

@{
    ViewData["Title"] = "Evaluate List";
    Layout = "~/Views/Shared/_User.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create", "Evaluate")" class="btn btn-primary">Create New Evaluation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaspNavigation.Tensp)</th>
            <th>@Html.DisplayNameFor(model => model.MakhNavigation.Tenkh)</th>
            <th>@Html.DisplayNameFor(model => model.Diemdanhgia)</th>
            <th>@Html.DisplayNameFor(model => model.Ngaydanhgia)</th>
            <th>@Html.DisplayNameFor(model => model.Loidanhgia)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaspNavigation.Tensp</td>
            <td>@item.MakhNavigation.Tenkh</td>
            <td>@item.Diemdanhgia</td>
            <td>@item.Ngaydanhgia.ToShortDateString()</td>
            <td>@item.Loidanhgia</td>
            <td>
                <a href="@Url.Action("Details", "Evaluate", new { id = item.Madg })" class="btn btn-info">Details</a>
                <a href="@Url.Action("Edit", "Evaluate", new { id = item.Madg })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", "Evaluate", new { id = item.Madg })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
