@model IEnumerable<TapHoa.Data.Dondathang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tonggia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lydohuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaptvcNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MattddhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tonggia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lydohuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakhNavigation.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaptvcNavigation.Maptvc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MattddhNavigation.Mattddh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Maddh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Maddh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Maddh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
