@model IEnumerable<TapHoa.Data.Nhacungcap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenncc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenncc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mancc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mancc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mancc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
