@model TapHoa.Data.Sanpham
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Shop.cshtml";
}
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="@Model.Hinhanh" alt="0">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="@Model.Hinhanh1" src="@Model.Hinhanh1" alt="1">
                        <img data-imgbigurl="@Model.Hinhanh2" src="@Model.Hinhanh2" alt="2">
                        <img data-imgbigurl="@Model.Hinhanh3" src="@Model.Hinhanh3" alt="3">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Tensp</h3>
                    <div class="product__details__price">
                        @{
                            decimal originalPrice = Model.Gia;
                            decimal discountPercentage = (decimal)(Model.MakmNavigation?.Phantramgiam ?? 0);
                            decimal discountedPrice = originalPrice - (originalPrice * (discountPercentage / 100));
                        }

                        @if (discountPercentage > 0)
                        {
                            <span style="text-decoration: line-through;">@(Model.Gia.ToString("C"))</span>
                        }

                        @discountedPrice.ToString("C")
                    </div>
                    <p>@Model.Mota</p>
                    <form id="addToCartForm" method="post" asp-action="AddToCart" asp-controller="Cart">
                        <input type="hidden" name="id" value="@Model.Masp" />
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input id="quantityInput" name="quantity" type="number" min="1" value="1" />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="primary-btn" onclick="addToCartWithQuantity(event)">ADD TO CART</button>
                    </form>
                    <form id="addToLikeForm" method="post" asp-action="AddToLike" asp-controller="Like">
                        <input type="hidden" name="id" value="@Model.Masp" />
                        <a href="javascript:void(0);" class="heart-icon" onclick="addToLike(event)">
                            <span class="icon_heart_alt"></span>
                        </a>
                    </form>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>5005</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@Model.Hinhanh">
                        <ul class="product__item__pic__hover">
                            <li>
                                <a href="javascript:void(0);" class="add-to-cart d-flex justify-content-center align-items-center bg-light border rounded-circle text-dark" data-id="@Model.Masp" data-quantity="1">
                                    <i class="icon fa fa-shopping-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a asp-action="Details" asp-controller="Product" asp-route-id="@Model">@Model.Tensp</a></h6>
                        <h5>@Model.Gia.ToString("C")</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function addToCartWithQuantity(event) {
        event.preventDefault();
        var form = document.getElementById('addToCartForm');
        var quantity = form.querySelector('input[name="quantity"]').value;
        var productId = form.querySelector('input[name="id"]').value;
        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            data: {
                id: productId,
                quantity: quantity
            },
            success: function (response) {
                if (response.success) {
                    updateCartDisplay(response.cartData);
                    alert("Product added to cart successfully!");
                } else {
                    alert(response.message); 
                }
            },
            error: function (xhr, status, error) {
                alert("There was an error adding the product to the cart.");
            }
        });
    }
    function updateCartDisplay(cartData) {
        $('#cartQuantity').text(cartData.totalQuantity);
        $('#cartTotal').text(cartData.totalPrice);
    }
    function addToLike(event) {
        event.preventDefault();
        var productId = $("input[name='id']").val();
        $.ajax({
            url: '@Url.Action("AddToLike", "Like")',
            type: 'POST',
            data: { id: productId },
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    $(".heart-icon").css("color", "red"); 
                    alert(response.message);
                }
            },
            error: function () {
                alert("Có lỗi khi thêm sản phẩm vào danh sách yêu thích.");
            }
        });
    }
    $(".add-to-cart").click(function () {
        var productId = $(this).data("id");
        var quantity = $(this).data("quantity");
        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            data: { id: productId, quantity: quantity },
            success: function (response) {
                if (response.success) {
                    alert("Product added to cart successfully!");
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("There was an error adding the product to the cart.");
            }
        });
    });

</script>
