@model IEnumerable<TapHoa.Data.Sanpham>
@{
    ViewData["Title"] = "ProductByCategory";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<div class="container-fruit">
    <div class="row col-12 ms-3 mb-2">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <img src="@product.Hinhanh" alt="Product Image" class="img-fluid">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a asp-action="AddToCart" asp-controller="CartItem" asp-route-id="@product.Masp"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>
                                <a asp-action="Details" asp-controller="Sanphams" asp-route-id="@product.Masp">
                                    @product.Tensp
                                </a>
                            </h6>
                            <h5>@product.Gia.ToString("C")</h5>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>No products available in this category.</p>
            </div>
        }
    </div>
</div>

