@model IEnumerable<TapHoa.Data.Sanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Shop.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakmNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaloaispNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManccNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MathNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakmNavigation.Makm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaloaispNavigation.Maloaisp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManccNavigation.Mancc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MathNavigation.Mathuonghieu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Masp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Masp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Masp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
