@model TapHoa.Data.Dondathang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Dondathang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenkh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenkh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tonggia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tonggia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lydohuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lydohuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Makh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaptvcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaptvcNavigation.Maptvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MattddhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MattddhNavigation.Mattddh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Maddh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
